
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300&family=Nanum+Myeongjo:wght@400;700;800&family=Tangerine:wght@400;700&family=Waterfall&display=swap');


#main {
  width: 100vw;
  top: 0;
  overflow-x: hidden;
}

#image1 {
  animation-delay: 0s;
  background-image: linear-gradient(rgba(65, 63, 63, 0.5), rgba(59, 59, 57, 0.5)), url('../../assets/images/bolognese.jpeg');

  }

#image2 {
  background-image: linear-gradient(rgba(122, 122, 122, 0.5), rgba(59, 59, 57, 0.5)), url('../../assets/images/crab.jpeg');
  animation-delay: 5s;

  }

#image3 {
  background-image:linear-gradient(rgba(92, 90, 90, 0.5), rgba(59, 59, 57, 0.5)),  url('../../assets/images/caprese1.jpeg');
  animation-delay: 10s;

  }

#image4 {
  background-image: linear-gradient(rgba(109, 107, 107, 0.5), rgba(59, 59, 57, 0.5)), url('../../assets/images/psto.jpeg');
  animation-delay: 15s;

}

.main-image {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: fade 20s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
.title {
  position: relative;
  z-index: 1;
  color:#ece7e2;
  padding-top:1rem;
  padding-bottom:.5rem;
  font-size: 1.7rem;
  margin-top: 9rem;
  padding-top:1rem;
  margin-bottom: -1rem;
  padding-left: 6rem;
  font-family:'Lato';
  text-transform: uppercase;
  font-weight: 300;
  }
  
.subtitle {
  position: relative;
  z-index: 1;
  color:  #ece7e2;
  font-size: 11rem;
  margin-top:.2rem;
  padding-top: .5rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  font-family:serif;
  line-height: .89;
  /*font-family: 'Waterfall', serif;*/
  font-family:'Waterfall';
  font-weight:500;
}
  
/*----NAVBAR----*/

.nav-container {
  width: 100%;
  height: 54px;
  top: 0;
  z-index: 30;
  position: fixed;
  color: #ebdfd4;
  background-color: transparent;
  padding: 0;
  margin: 0;
  left: 0;
  overflow:hidden;
}

.nav-container button {
  background: transparent;
  border: none;
  color:#ece7e2;
  font-size: 35px;
  transform: translate(15%, 15%);
  float: left;
  cursor: pointer;
}

.logo {
  font-size: 3.4rem;
  padding-left: 4rem;
  padding-top: .1rem;
  font-family: 'Montserrat', sans-serif;
  color:#ece7e2;
  font-weight: 300;
  float: left;
  z-index: 31;
}

.logo span {
  font-family: 'Montserrat', sans-serif;
  color: #272626;
  font-weight: 300;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-links li:hover {
  background-color:#ece7e2;
}

.nav-links li a:hover {
  color:#434745;
}

.nav-links li {
  border: 1px solid #ebdfd4;
  border-top: 0;
  float: right;
}

.nav-links li:nth-of-type(1){
  border-right: 0;
}

.nav-links li a {
  display: block;
  color: #ece7e2;
  text-decoration: none;
  padding: 18px 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
}

/*----SIDEBAR----*/

.sidebar {
  height: 100%;
  width: 65px;
  position: absolute;
  border-right: solid 1px #ebdfd4;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-top: 20px;
  overflow: hidden;
}

.sidebar span {
  color: #ece7e2;
  display: block;
  text-align: center;
  padding-top: .15rem;
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.sidebar span:nth-of-type(1) {
  padding-top: 14rem;
  color:#272626;
  font-weight: 700;
}

.sidebar span:nth-of-type(2){
  color: #000;
  font-weight: 700;
}

.sidebar span:nth-of-type(3){
  color: #000;
  font-weight: 700;
}

.sidebar span:nth-of-type(4) {
  padding-top: 1rem;
}

.sidebar .social a {
  text-decoration: none;
  font-size: 25px;
  color: #ece7e2;
  display: block;
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: center;
  cursor: pointer;
}

.sidebar .social:nth-last-child(2) {
  margin-top: 14rem;
  margin-bottom: -1rem;
}

/*----MENU OVERLAY----*/

.overlay {
  width:100%;
  height: 100%;
  position: fixed;
  z-index: 999999;

  background-color: #434745;
  overflow-x: hidden;
  transition: 0.5s;
}

.close {
  position: absolute;
  border: none;
  background: transparent;
  left: 10px;
  font-size: 50px;
  color: #ece7e2;
  cursor: pointer;
}

.overlay-content {
  position: relative;
  display: block;
  top:10%;
  width: 100%;
  text-align: center;
  color:#ece7e2;
  font-family:'Montserrat', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding-bottom: 0;
}

.overlay-content ul {
  margin: 1rem;
  padding: 0;
}

.overlay-content li {
  padding: 1rem;
  transition: transform .5s ease-in-out;
}

.overlay-content li:nth-last-child(1){
  margin-bottom: 1rem;
}

.overlay-content li:hover {
  transform: scale(1.2);
}

.overlay-content li a  {
  text-decoration: none;
  color:#ece7e2;
}

.overlay-content li a:hover {
  color:#bbb6a5;
}

.overlay-reserve {
  background-color: #ece7e2;
  color: #434745;
  padding: .5rem;
  font-size:.9rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  border: .5px solid #ece7e2;
  font-family:'Montserrat';
  width: 11rem;
  padding-top:.8rem;
  padding-bottom: .8rem;
  font-weight: 300;
  cursor: pointer;
  word-spacing: 3px;
}

.overlay-reserve:hover {
  background-color: #434745;
  color: #ece7e2;
}

.overlay-logo {
  text-align: center;
  margin-top: 0;
  font-size: 4rem;
  font-weight: 300;
}

.overlay-logo span {
  color:#272626;
}

.toggle-line {
  background-color: #ece7e2;
  height:.05px;
  border:#000;
  margin-top: 2rem;
}

/*---MISSION STATEMENT SECTION----*/

.welcome-content {
  background-color: #434745;
  background-image: url('../../assets/images/pattern.png');
  width: 90%;
  max-width:100%;
  z-index: 2;
  height: 620px;
  max-height: 100%;
  position: absolute;
  left: 0;
  margin-top: 3.7rem;
  padding-left: 0;
  overflow: visible;
}

.welcome-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  position: relative;
}

.mission {
  color: #ebdfd4;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  font-weight: 100;
}

.statement {
  color: #ebdfd4;
  font-family:'Lato', sans-serif;
  font-size: .8rem;
  margin-left: 14rem;
  padding-left: 5rem;
  word-spacing: .5px;
}

.statement:nth-child(2) {
  margin-left: 1rem;
  margin-right: 5rem;
  padding-left: 0;
}

.menu-view {
  float: right;
  background: transparent;
  border: none;
  text-transform: uppercase;
  margin-right: 5rem;
  margin-top:1rem;
  color: #ebdfd4;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.overlap-picture {
  max-width: 78%;
  width: 100%;
  height: 360px;
  z-index: 9998;
  position:relative;
  margin-top: 4rem;
  margin-left: 13rem;
  float:right !important;
  object-fit: cover;
}

/*----FLOATING PICS----*/

.middle-content {
  width: 100%;
  height: auto;
  margin-top: 12rem;
  margin-bottom: 2rem;
  padding-bottom: 15rem;
 
  z-index: 99999;
  position: absolute;
  overflow: hidden;
}

.middle-text {
  z-index: 99999;
  font-size: 7.5rem;
  color: #ebdfd4;
  font-family: 'Jomolhari';
  line-height: .87;
  font-weight: 100;
  position: relative;
  padding-top: 7rem;
  margin-left: 1rem;
  overflow: hidden;
}

#pic1 {
  max-width:100%;
  width: 40%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 99999;
  margin-left: 41rem;
  margin-top: -22rem;
}

#pic2 {
  width: 45%;
  max-width: 100%;
  height: auto;
  padding-top: 15rem;
  margin-top: -17rem;
  z-index: 99999;
  position: relative;
  transform: translateX(-2%);
  overflow: hidden;
  margin-left: 3rem;
}

#pic3 {
  width: 15%;
  max-width: 100%;
  height: auto;
  z-index: 999999;
  position: relative;
  overflow: hidden;
  margin-left: 17rem;
  padding-right: 1rem;
  margin-right: 1rem;
  padding-top: 1rem;
  transform: translateY(-20%); 
}

.menu-container {
  margin-top: 65rem;
  padding-top:1rem;
  position: absolute;
  width: 100%;
  left:0;
  overflow: hidden;
}

.bottom-text {
  font-size: 8rem;
  margin-top: 35rem;
  padding-bottom: 0;
  color:#ebdfd4;
  font-family: 'Jomolhari';
  font-weight: 100;
  letter-spacing: -4px;
  line-height: .87;
  overflow: hidden;
  z-index: 99999;
  text-align: center;
  margin-bottom: 1rem;
}

/*---MENU PICS---*/

.menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  flex-flow: row wrap;
  z-index: 999999;
  left: 0;
  grid-gap: 10px;
  margin-top: 1rem;
  width: 100%;
}

.menu img {
  width:100%;
  height: auto;
  position: relative;
  filter:brightness(50%);
  margin-bottom: 1rem;
}

.menu img:hover {
  filter:brightness(90%);
}

.cannoli img {
  visibility: hidden;
}

.image-overlay {
  color: #ebdfd4;
  width: 100%;
  opacity:1;
  font-size: 20px;
  text-align: center;
  margin-top: -4rem;
  margin-bottom: 1.2rem;
  transform: translateY(-100%);
  overflow: hidden;
  font-family:'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-shadow: .5px .6px .7px #000;
}

.happyhour {
  grid-area: 2;
  margin-top: 4rem;
}

.drinks {
  grid-area: 3;
  margin-top: 1rem;
}

.dining {
  grid-area: 4;
  margin-top: 3rem;
}


/*----FOOTER----*/

.footer {
  background-image: url('../../assets/images/pattern.png');
  z-index: -1;
  width: 100%;
  overflow: hidden;
  margin-top: -27rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
}

.footer-content {
  margin-top: 15rem;
  z-index: -1;
  color:#ebdfd4;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-logo {
  padding-top: 20px;
  border: .5px #ebdfd4 solid;
  z-index: 1;
  margin-top: -17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.footer-content-wrap {
  background-image: url('../../assets/images/pattern.png');
  display: inline-block;
  z-index: 1;
  position: relative;
  font-size: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 300;
}

.footer-content-wrap span{
  padding-right: .2em;
  font-family: 'Montserrat', sans-serif;
  color: #636664;
  font-weight: 300;
}

.footer-logo li{
  list-style: none;
  display: inline-block;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  font-family: 'Lato', sans-serif;
}

.footer-menu li:hover {
  transform: scale(1.2);
  color:#ece7e2;
}

.footer-logo a {
  text-decoration-line: none;
  color: #ebdfd4;
  z-index: 1;
}

.footer-info {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 3rem;
  z-index: 1;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 4rem;
  font-family: 'Lato', sans-serif;
}

.footer-info span {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #ebdfd4;
  border-right: 1px solid #ebdfd4;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-button {
  background-color: transparent;
  border: .5px solid #ebdfd4;
  color: #ebdfd4;
  text-transform: uppercase;
  margin-left: 7rem;
  font-family: 'Lato', sans-serif;
  width: 11rem;
  padding: .5rem;
  padding-top:.8rem;
  padding-bottom: .8rem;
  font-size: 13px;
  font-weight: 300;
  z-index: 1;
  cursor: pointer;
}

.footer-button:nth-of-type(2) {
  margin-left: 1.5rem;
}

.footer-button:hover {
  background-color:#ece7e2;
  color:#272626;
}

.bottom-footer {
  z-index: 1;
  color:#ebdfd4;
  font-size: 10px;
  font-family:'Jomolhari', sans-serif;
  padding-top: 3rem;
}

.bottom-footer span {
  border-left: .3px solid #ebdfd4;
  padding-left: 3px;
}

.byline {
  font-size: 9px;
  font-family: 'Jomolhari', sans-serif;
  padding-bottom: 2px;
}

.bottom-socials {
  padding: 5px;
}

.bottom-socials a {
  color:#ebdfd4;
  font-size: 18px;
  padding: 3px;
}

/*----MEDIA QUERIES----*/

/*----LARGE SCREENS-----*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar .social {
    visibility: hidden;
  }

  .logo {
    padding-left: 3rem;
  }
  

.nav-links li:nth-of-type(1){
  border-right: 0;

}

  .title {
    padding-left: 5rem;
    font-size: 1.8rem;
  }

 .subtitle {
    padding-left: 5rem;
    font-size: 8rem;
 }

  .mission {
    padding-left: 2rem;
  }

  .statement {
    margin: 0 auto;
    padding: 0 3rem;
    padding-left: 5rem;
    padding-right: 1rem;
    font-size: .9rem;
  }

  .statement:nth-child(2) {
    margin-left: 0;
    padding-left: 1rem;
    margin-right: 1.5rem;
  }

  .welcome-container {
    gap: 0;
  }

  .menu-view {
    padding-right: 0;
    padding-top: 1rem;
    margin-right: 2.5rem;
  }

  .welcome-content {
    margin-top: 1rem;
  }

  .welcome-content img {
    width: 90%;
    height: auto;
  }


  .middle-content {
    padding-right: 4.7rem;
  }
  .middle-text {
    font-size: 6.7rem;
    margin-left: 1rem;
  }

  .bottom-text {
    font-size: 6.7rem;
    margin-top: 26rem;
    left: 0;
  }

  #pic1 {
    margin-left: 29rem;
  }

  #pic3 {
    float: right;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .menu {
    grid-template-columns: repeat(3, auto);
    gap: .5rem;
  }

  .menu img {
    margin-top: 0;
  }

  .cannoli img {
    filter: none;
    padding-top: 8rem;
    pointer-events: none;
    visibility: visible;
  }

  .footer {
    margin-top: 0;
  }
  .footer-content {
    font-size: 12px;
    margin-top: 0;
  }

  .footer-logo li {
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 0rem;
    padding-bottom: 0;
    padding-left: 0;
  }

  .footer-info {
    margin-left: 0;
    font-size: 9px;
  }

  .footer-button {
   margin-left: 3rem;
   width: 7rem;
   font-size: 11px;
  }
}

/*----MEDIUM SCREENS----*/

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
  .nav-container {
    height: 60px;
  }

  .nav-links {
    display: none;
   }
  
  .sidebar span:nth-of-type(1) {
    padding-top: 10rem;
  }

  .sidebar .social {
    visibility: hidden;
  }
  .logo {
    padding-left: 2.5rem;
  }
  
  .title {
    font-size: 1.3rem;
    padding-left: 5rem;
    margin-top: 6rem;
  }

  .subtitle {
    font-size: 6.5rem;
    margin-left: 0;
    padding-left: 5rem;
  }

  .mission {
   padding-left: 1rem;
  }

  .statement {
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: .85rem;
    padding: 0;
  }

  .statement:nth-child(2) {
    margin-right: 1rem;
    margin-left: 0rem;
  }

  .welcome-container {
    gap: 0;
  }

  .welcome-content {
    width: 100%;
  }

  .welcome-content img {
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .menu-view {
    padding: 0;
    padding-top: 1rem;
    margin-right: 1rem;
  }

  .middle-content {
    padding-right: 0rem;
  }


  .middle-text {
    font-size: 5rem;
    margin-left: 1rem;
    margin-top: 9rem;
    padding-top: 7rem;
    margin-bottom: 1rem;
  }

  .bottom-text {
    font-size: 5.4rem;
    margin-top: 17rem;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #pic1 {
    margin-left: 23rem;
  }

  #pic2 {
    padding-top: 18rem;
  }
  #pic3 {
    float: right;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .menu {
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

  .menu img {
    margin-top: 0;
  }

  .cannoli img {
    filter: none;
    padding-top: 10rem;
    pointer-events: none;
    visibility: visible;
  }

  .footer {
    margin-top: 0;
    padding-top: 3rem;
  }
  .footer-content {
    font-size: 15px;
    margin-top: 0;
  }
  
  .footer-content-wrap {
    font-size: 36px;
  }

  .footer-logo {
    border-left: none;
    border-right: none;
    margin-top: -25px;
  }

  .footer-menu {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer-logo li {
    margin-bottom: 1rem;
    padding-bottom: 0;
    display: block;
    font-weight: 300;
  }

  .footer-info {
    display: none;
    margin-left: 0;
    font-size: 9px;
  }

  .footer-button {
    display: none;
  }

  .bottom-footer {
    padding-top: 1rem;
  }

}

/*----SMALL SCREENS----*/

@media only screen and (min-width: 300px) and (max-width: 575px) {

  .main-image {
    height: auto;
  }
  .nav-container {
    height: 60px;
  }

 .nav-links {
    visibility: hidden;
 }

  .sidebar span:nth-of-type(1) {
    padding-top: 8rem;
  }

  .sidebar .social {
    visibility: hidden;
  }

  .logo {
    padding-left: 2rem;
  }

  .title {
    font-size: 1.1rem;
    margin-top: 6rem;
    margin-left: 0;
    padding-left: 5rem;
  }
  
  .subtitle {
    font-size: 5.5rem;
    padding-left: 5rem;
  }
  
  .welcome-content {
    width: 100%;
    margin-top: 2rem;
  }
  
  .mission {
    padding-left: 1rem;
    padding-top: 0rem;
    font-size: 2.5rem;
  }

  .statement {
    margin-left: 1rem;
    padding: 0 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .9rem;
  }

  .statement:nth-child(2) {
    padding-left: 1rem;
    margin-right: 1rem;
  }

  .welcome-container {
    gap: 0;
    align-items: center;
    flex-direction: column;
  }

  .menu-view {
    margin-right: 1rem;
  }

  .welcome-content img {
    max-width: 100%;
    height: auto;
  }

  .middle-content {
    padding-right: 0;
  }

  .middle-text {
    font-size: 4rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .bottom-text {
    font-size: 3.4rem;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 0;
  }

  #pic1 {
    margin-left: 18rem;
  }

  #pic3 {
    float: right;
    margin-left: 0;
    margin-right: 3rem;
    margin-top: 2rem; 
  }

  .menu {
    grid-template-columns: repeat(1, auto);
    grid-gap: 0;
  }

  .menu img {
    margin-top: .1rem;
  }

  .cannoli img {
    display: none;
  }

  .footer {
    padding-top: 3rem;
    margin-top: 0;

  }
  .footer-content {
    font-size: 15px;
    margin-top: 0;
  }
  
  .footer-content-wrap {
    font-size: 36px;
  }

  .footer-logo {
    border-left: none;
    border-right: none;
    margin-top: -25px;
  }

  .footer-menu {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer-logo li {
    margin-bottom: 1rem;
    padding-bottom: 0;
    display: block;
    font-weight: 300;
  }

  .footer-info {
    display: none;
    margin-left: 0;
    font-size: 9px;
  }

  .footer-button {
    display: none;
  }

  .bottom-footer {
    padding-top: 1rem;
  }

}
